 /* Container for the images */
 .image-container {
    rotate: -20deg;
    position: relative;
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    margin-bottom: 100px;
}
.image {
    width: 50%;
}
/* Style for the first image */
.image1 {   
    rotate: -5deg;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* This image will be on top */
}

/* Style for the second image */
.image2 {
    rotate: 5deg;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2; /* This image will be below the first */
}
.image3 {
    rotate: 15deg;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 3; /* This image will be below the first */
}
.image4 {
    rotate: 25deg;
    position: absolute;
    top: 0;
    left: 60px;
    z-index: 4; /* This image will be below the first */
}
.image5 {
    rotate: 35deg;
    position: absolute;
    top: 10px;
    left: 80px;
    z-index: 5; /* This image will be below the first */
}
.image6 {
    rotate: 45deg;
    position: absolute;
    top: 20px;
    left: 100px;
    z-index: 6; /* This image will be below the first */
}

.tekst_container {
    position: relative;
}

.tekst {
    rotate: 20deg;
    position: absolute;
    margin-top: 70px;
    top: 50%; /* Plaats de tekst verticaal in het midden van de container */
    left: 40%; /* Plaats de tekst horizontaal in het midden van de container */
    transform: translate(-50%, -50%); /* Centreer de tekst volledig */
    padding: 20px; /* Voeg wat vulling toe aan de tekst voor leesbaarheid */
    z-index: 7; /* Zorg ervoor dat de tekst bovenop de afbeelding wordt weergegeven */
}



